.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #252525;
  color: white;
}

.hero-img {
  max-width: 500px;
  margin: 1rem;
  border-radius: 5rem;
}

.genre-list {
  max-width: 500px;
  list-style: none;
  margin: auto;
}

.genre-name {
  display: inline;
  padding: 0.5rem;
  margin: 1rem;
  color: #64dfdf;
  border: 1.5px solid #64dfdf;
  border-radius: 1rem;
}

.genre-name:hover {
  background-color: #64dfdf;
  color: black;
}

.book-list {
  padding: 1rem;
  list-style: none;
  max-width: 400px;
  margin: auto;
}

.book-description {
  background-color: #6930c3;
  margin: 1rem;
  padding: 1rem;
  border: 1.5px solid #48426d;
  border-radius: 2rem;
  text-align: justify;
}
